.priceSection {
  display: flex;
  justify-content:center;
  flex-flow: column nowrap;
}

.acceptBtn {
  background-color: #8f215c;
  font-weight: bold;
  padding: 7px;
  transition: 0.2s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.acceptBtn:hover {
  background: #b81f70;
}

.animate-hover {
  animation: animate-hover 5s infinite;
}

.animate-terrain-hover {
  animation: animate-terrain-hover 5s infinite;
}

@keyframes animate-hover {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1%);
  }
}

@keyframes animate-terrain-hover {

  0%,
  100% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(-19%);
  }
}
