.priceSection {
  display: flex;
  justify-content: space-evenly;
}

.acceptBtn {
  background-color: #8f215c;
  width: 70px;
  font-weight: bold;
  padding: 7px;
  transition: 0.2s ease-in-out;
}

.acceptBtn:hover {
  background: #b81f70;
}

.animate-hover {
  animation: animate-hover 5s infinite;
}

.animate-terrain-hover {
  animation: animate-terrain-hover 5s infinite;
}

@keyframes animate-hover {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1%);
  }
}

@keyframes animate-terrain-hover {

  0%,
  100% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(-19%);
  }
}
