.navbar-clip {
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 38% 60%, 33% 100%, 0% 100%);
}

.navbar-shadow {
  filter: drop-shadow(0px 0px 10px black);
}

.desktop-links {
  display: none;
}

.connect-button {
  display: none;
}

.nav-link-hover a,
.nav-link-hover span {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav-link-hover a span:before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #b014a5;
  border-left: 2px solid #b014a5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.nav-link-hover a span:after {
  width: 6px;
  height: 6px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid #b014a5;
  border-bottom: 2px solid #b014a5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.nav-link-hover a::before,
.nav-link-hover span::before {
  width: 6px;
  height: 6px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid #b014a5;
  border-top: 2px solid #b014a5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.nav-link-hover a::after,
.nav-link-hover span::after {
  width: 6px;
  height: 6px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid #b014a5;
  border-bottom: 2px solid #b014a5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.nav-link-hover a:hover,
.nav-link-hover span:hover {
  color: #b014a5;
}

.nav-link-hover a:hover::before,
.nav-link-hover span:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}

.nav-link-hover a:hover::after,
.nav-link-hover span:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}

.nav-link-hover a:hover span:before {
  opacity: 1;
  left: 5px;
  top: 5px;
}

.nav-link-hover a:hover span:after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}

.reverse-animate-toggle-button > div {
  background-color: white;
}

.animate-toggle-button > div {
  transform: rotate(180deg);
  background-color: transparent;
}

.animate-toggle-button > div::before {
  transform: translateY(0) rotate(45deg);
}

.animate-toggle-button > div::after {
  transform: translateY(0) rotate(-45deg);
}

@media (min-width: 640px) {
  .navbar-clip {
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 34% 60%, 32% 100%, 0% 100%);
  }
}

@media (min-width: 1280px) {
  .desktop-links {
    display: flex;
    align-items: center;
  }

  .connect-button {
    display: block;
  }
}

.music {
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  transition: all 0.5s ease-in allow-discrete;
}

.nav-dropdown.hide {
  display: none;
  height: 0px;
}

@starting-style {
  .nav-dropdown {
    height: 0px;
  }
}

@media (max-width: 1279px) {
  .nav-dropdown {
    display: none;
    height: 0px;
  }
}

.mobile-nav-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in allow-discrete;
}

.mobile-nav-dropdown.hide {
  display: none;
  opacity: 0;
}

@starting-style {
  .mobile-nav-dropdown {
    opacity: 0;
  }
}

@media (min-width: 1280px) {
  .mobile-nav-dropdown {
    display: none;
    opacity: 0;
  }
}

.music{
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.notification-container {
  position: relative;
  display: inline-block;
}

.icon {
  width: 40px; /* Adjust size as needed */
  height: 40px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 30px;
  background-color: rgb(204, 0, 204);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}


.socialIcons{
  display: flex;
  justify-content: space-between;

}

.socialIcons img{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#borderStyles {
  position: relative;
  margin-top: 20px;
  padding: 1.5em;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 41px 9px rgba(185, 46, 255, 0.6);
  border: 2px solid rgba(185, 46, 255, 0.8);
  border-radius: 10px;
  clip-path: polygon(0% 13%, 7% 0%, 100% 0%, 100% 88.25%, 92.5% 100%, 0% 100%);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

#borderStyles2 {
  position: relative;
  margin-top: 20px;
  padding: 1.5em;
  background: rgba(223, 223, 223, 0.247);
  box-shadow: 0px 0px 41px 9px rgba(185, 46, 255, 0.6);
  border: 2px solid rgba(185, 46, 255, 0.8);
  border-radius: 10px;
  clip-path: polygon(0% 13%, 7% 0%, 100% 0%, 100% 88.25%, 92.5% 100%, 0% 100%);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}
